.header{
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color : #0c0034;
  .todo-title{
    color: #fff;
    font-size: 1.5rem;
    i{
      margin: 0px 20px 0px 50px;
      font-size: 1.7rem;
    }
  }
}
.search{
  display: flex;
  line-height: 50px;
  width: 400px;
  input{
    margin-top: 6px;
    width: 384px;
  }
}
.errormsg{
  color: red;
  font-size: 0.8rem;
}
.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: calc(23%); 
  min-width: 250px;
  height: 230px; 
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 3px 10px #A5A5A5;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  i{
    font-size: 1.1rem;
  }
}
.create-btn{
  position: absolute;
  right: 0px;
  background-color: #0c0034;
  color: #fff;
  z-index: 1;
  &:hover{
    background-color: #1e007e;
  }
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}
.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}
.card-content{
  height: 115px;
  overflow: auto;
}
.card-header{
  margin-top: 0px;
  margin-bottom: 10px;
  width: auto;
  height: 40px;
  padding: 4px  !important;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.task-container{
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding: 60px 50px 20px 50px;
}

.form-control {
    line-height: 2.5;
}

::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20%;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8d9da0;
  }